@import url(assets/css/header.css);
@import url(assets/css/carroussel.css);
@import url(assets/css/categoria.css);
@import url(assets/css/produtos.css);
@import url(assets/css/facilidades.css);
@import url(assets/css/leads.css);
@import url(assets/css/rodape.css);

:root{
    --font: 'Inter', sans-serif;
    --color-cinza-desc:#212529;
    --color-black: #000000;
    --color-roxo:#9353FF;
    --color-amarelo:#DAFF01;
    --color-azul:#75D7F0;
    --color-offwhite:#DEE2E6;
    --color-cinza:#6C757D;
    --color-cinza-claro:#e9e9e9;
    
}

*{
    box-sizing: border-box;
}

body{
    font-family: var(--font);
}