:root{
    --font: 'Inter', sans-serif;
    --color-cinza-desc:#212529;
    --color-black: #000000;
    --color-roxo:#9353FF;
    --color-amarelo:#DAFF01;
    --color-azul:#75D7F0;
    --color-offwhite:#DEE2E6;
    --color-cinza:#6C757D;
    
}

body{
    font-family: var(--font);
}

header.cabecalho{
    background-color: var(--color-black);
    height: 58px;
    position: absolute;
    width:100%;
}

div.cabecalho_menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width:100%;
    height: 58px;
}

img.cabecalho_menu_logo{
    margin-left: 20px;
}

span.cabecalho_menu_img{
    background-image: url(assets/Mobile/Ícones/menu-aberto-png.png);
    width: 40px;
    height: 50px;
    display:flex;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    cursor: pointer;
    margin-right: 20px;
}

nav.cabecalho_menu_mobile{
    display: none;
    position: absolute;
    Width: 144px;
    Height: 144px;
    background-color: #343A40;
    top: 58px;
    right:0;
    text-align: right;
    z-index: 1;
}

nav.cabecalho_menu_mobile.menu-active {
    display: block;
  }

nav.cabecalho_menu_mobile ul li{
    padding: 5px;
}

nav.cabecalho_menu_mobile ul li a{
    text-decoration: none;
    font-size: 1rem;
    font-weight: 700;
    border-bottom: 1px solid #CED4DA ;
    text-transform: capitalize;
    color: #FFF;
    line-height: 23px;
    padding: 8px;
}

nav.cabecalho_menu_desktop{
    display: none;
}

section.cabecalho_buscar{
   position:relative;
   top: 80px;
   display: flex;
   justify-content: center;
   align-items: center;
   gap: 20px;
}

section.cabecalho_buscar input{
    width: 225.6px;
    Height: 38px;
    border: 1px solid black;
}

section#campo_input::placeholder{
   font-weight: 400; 
   font-size: 13px;
}

section.cabecalho_buscar a{
    width: 88.42px;
    height: 40px;
    border: 1px solid black;
    align-items: center;
    justify-content: center;
    text-align: center;
    display: flex;
    font-size: 1rem;
    font-weight: 500;
    color: var(--color-black);
    text-decoration: none;

}

/*
@media screen and (min-width: 547px) and (max-width: 768px) {
  
*/