header.cabecalho{
    background-color: var(--color-black);
    height: 58px;
    position: absolute;
    width:100%;
}

div.cabecalho_menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width:100%;
    height: 58px;
}

img.cabecalho_menu_logo{
    margin-left: 20px;
}

span.cabecalho_menu_img{
    background-image: url(assets/Mobile/Ícones/menu-aberto-png.png);
    width: 40px;
    height: 50px;
    display:flex;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    cursor: pointer;
    position: absolute;
    right: 22px;
}

nav.cabecalho_menu_mobile{
    display: none;
    position: absolute;
    Width: 144px;
    Height: 144px;
    background-color: #343A40;
    top: 58px;
    right:0;
    text-align: right;
    z-index: 1;
}

nav.cabecalho_menu_mobile.menu-active {
    display: block;
  }

nav.cabecalho_menu_mobile ul li{
    padding: 5px;
}

nav.cabecalho_menu_mobile ul li a{
    text-decoration: none;
    font-size: 1rem;
    font-weight: 700;
    border-bottom: 1px solid #CED4DA ;
    text-transform: capitalize;
    color: #FFF;
    line-height: 23px;
    padding: 8px;
}

nav.cabecalho_menu_desktop{
    display: none;
}

section.cabecalho_buscar{
   position:relative;
   top: 80px;
   display: flex;
   justify-content: center;
   align-items: center;
   gap: 20px;
}

section.cabecalho_buscar input{
    width: 225.6px;
    Height: 38px;
    border: 1px solid black;
    padding: 9px 12px;
}

#campo_input::placeholder{
   font-weight: 400; 
   font-size: 13px;
   margin-left: 12px;
}

section.cabecalho_buscar a{
    width: 88.42px;
    height: 37px;
    border: 1px solid black;
    align-items: center;
    justify-content: center;
    text-align: center;
    display: flex;
    font-size: 1rem;
    font-weight: 500;
    color: var(--color-black);
    text-decoration: none;

}

.cabecalho_buscar_tablet{
    display: none;
}

.cabecalho_menu div {
    display: flex;
    align-items: center;
}

@media screen and (min-width: 768px) {
    
    nav.cabecalho_menu_mobile.menu-active,
    span.cabecalho_menu_img,
    nav.cabecalho_menu_mobile,
    section.cabecalho_buscar{
        display: none;
    }

    header.cabecalho{
        background-color: var(--color-black);
        height: 58px;
        width:100%;
        position: static;
    }

    .cabecalho_menu div {
        display: flex;
    }

    div.cabecalho_menu {
        display: flex;
        justify-content: flex-start;
    }

    nav.cabecalho_menu_desktop{
        display: block;
        float: left;
        padding-left: 20px;
        margin-right: 60px;
    }

    nav.cabecalho_menu_desktop ul{
        display: flex;
        gap: 20px;
    }

    nav.cabecalho_menu_desktop ul li a{
        text-decoration: none;    
        font-size: 13px;
        font-weight: 400;
        color: var(--color-offwhite);
        line-height: 20px; /* 153.846% */
        text-transform: capitalize;
    }

    nav.cabecalho_menu_desktop ul li a:hover{
        border-bottom: 1px solid #CED4DA ;
    }

    .cabecalho_buscar_tablet{
        display: flex;
    }

    section.cabecalho_buscar_tablet input{
        width: 145px;
        Height: 38px;
        border: 1px solid var(--color-black);
        padding: 9px 12px;
        margin-right: 16px;
    }
    
    #campo_input::placeholder{
       font-weight: 400; 
       font-size: 13px;
       margin-left: 12px;
    }
    
    section.cabecalho_buscar_tablet a{
        width: 67px;
        height: 37px;
        border: 1px solid var(--color-offwhite);
        align-items: center;
        justify-content: center;
        text-align: center;
        display: flex;
        font-size: 13px;
        font-weight: 400;
        color: var(--color-offwhite);
        text-decoration: none;
    
    }
}

@media screen and (min-width: 1440px) {
    div.cabecalho_menu {
        display: flex;
        justify-content: space-between;
    }

    .cabecalho_menu div {
        display: flex;
        align-items: center;
    }

    .cabecalho_buscar_tablet{
        padding-right: 23px;
    }

    nav.cabecalho_menu_desktop ul li a{
        font-size: 16px;
        font-weight: 400;
        line-height: 23px; /* 143.75% */
    }

    section.cabecalho_buscar_tablet a{
        font-size: 15px;
        letter-spacing: 0.457px;
    }

    #campo_input::placeholder{
        font-weight: 500; 
        font-size: 16px;
     }

     section.cabecalho_buscar_tablet input {
        width: 170px;
     }
}

