button{
    border-radius: none;
    color: var(--color-roxo);
}

.modal-header{
    background-color: var(--color-black);
}
.modal-header h5{
    color: #FFF;
    font-family: Inter;
    font-size: 20px;
    font-weight: 500;
    line-height: 18px;
    margin-left: 20px;
}

.modal-header .btn-close{
    background-color: var(--color-cinza);
}